main {
    background-color: #1F1F1F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:500px;
    width: 450px;
    height: 600px;
    border-radius: 24px;
    padding: 40px;
}

body {
    color: #C4F82A;
    background-color: black;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h1, p {
    color: white;
}

body h2 a {
    color: #C4F82A;
    text-decoration: none;
}

.link {
    color: white;
    background-color: #333333;
    text-decoration: none;
    margin-bottom: 16px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    font-size: 18px;
}

.link a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px;
}

.link:hover {
    background-color: blueviolet;
    cursor: default;
    transition: 0s;
    transform: scale(1.1);
    transition: transform 0.5s;
}
body h2 a:hover {
    color:  #374216;
    cursor: pointer;
    transition: 0.5s;
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    cursor: pointer;
}
img {
    margin-top: 10px;
}
